{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "airbnb-typescript/base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "newline-before-return": "error",
    "complexity": "warn",
    "newline-after-var": "error",
    "arrow-parens": "off",
    "max-lines": "error",
    "import/prefer-default-export": "off",
    "no-eq-null": "error",
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": false,
        "requireParamType": false,
        "requireReturnDescription": true,
        "requireParamDescription": true,
        "matchDescription": ".+"
      }
    ],
    "no-multiple-empty-lines": "error",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
